build*/

# Executables
*.exe
*.app

# Static Libraries
*.lib
*.a

# Shared Libraries
*.dll
*.dylib
*.so

# DOSBox-X Config File
dosbox-x.conf

# Lile is FMOD's file code that I decomplied using Ghidra and made into its own library
# That's why I can't include it in this repository
Lile

.DS_Store