[submodule "JQ"]
	path = JQ
	url = https://github.com/StevenSYS/BlockBreak
	branch = original-archive
[submodule "C-WASM"]
	path = C-WASM
	url = https://github.com/StevenSYS/BlockBreak
	branch = c-wasm
